<div class="container mt-4">
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="account-all" role="tabpanel" aria-labelledby="account-all-tab">
        <div class="row toolbar">
          <button  id="save-entity" class="btn btn-primary" (click)="previousState()">
            <span>Home</span>
        </button>
          <button class="view" type="submit" class="btn btn-primary"
          [routerLink]="['/operations', idAccount,'new']"> Add Operation</button>
       </div>
        <table style="width: 100%;">
          <th>Id</th>
          <th>Amount</th>
          <th>Type</th>
          <th>Date</th>
          <tr *ngFor="let operation of listOperation">
            <td>{{ operation.id }}</td>
            <td>{{ operation.amount }}</td>
            <td>{{ operation.type }}</td>
            <td>{{ operation.date }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
