<div class="pt-5 border-bottom">
  <div class="container">
    <span class="text-large text-secondary line-height-1">Bank Account Dashbord</span>
    <h1  class="display-3 text-truncate line-height-1">
        Account List
    </h1>
    <div class="row account-container" *ngFor="let account of accountList">
           <div class="account-details">{{account.libelle}}</div>
            <app-balance [ammount]="account.balance"></app-balance>
           <button class="view" type="submit"
           [routerLink]="['/operations', account.id, 'view']">View</button>
    </div>
  </div>
</div>